:root {
  --main-color: rgb(45, 57, 134);
  --secondary-color: rgb(245, 175, 62);
  --third-color: rgb(7, 12, 43);
  --fourth-color: rgb(192, 200, 250);
  margin: 0px;
  scroll-behavior: smooth;
  scroll-padding-top: 22vh;
}

@font-face {
  font-family: mainFont;
  src: url("../../assets/fonts/GowunDodum-Regular.ttf");
}

body {
  width: 99.8vw;
  margin: 0px;
  font-family: mainFont;
  z-index: 0;
}

/* INDEX HEADER #MAIN NAVAGATION BAR*/

#index-header {
  height: 22vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  box-sizing: border-box;
  z-index: 2;
  border-bottom: solid 4px var(--main-color);
  position: sticky;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

/* NAV1 #CONTACT INFO*/
#index-header-nav1 {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;

}

#index-header-nav1-ul1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  height: 100%;
  min-width: 75%;
  padding-left: 0.5%;
 
}

.index-header-nav1-ul1-li1 {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 97%;
  color: white;
  width: auto;
  white-space: nowrap;
  min-width: 13%;
  font-size: 100%;

}
.index-header-nav1-ul1-li1:hover {
  color: var(--secondary-color);

}
.index-header-nav1-ul1-li1:first-child {
  border-right: none;
  color: var(--secondary-color);
  min-width: 9%;
}

#index-header-nav1-ul1-li1{

  min-width: 59%;

}

#index-header-nav1-ul1-li2{
    width: 19%;

}


.index-header-nav1-ul1-li1-img {
  height: 20px;
  width: auto;
  margin-right: 1%;
}

.index-header-nav1-ul1-li1-a {
  text-decoration: none;
  color: inherit;

}

#index-header-nav1-ul1-li1-p1{

  width: 100%;
  font-size: 100%;
  overflow-x: scroll;
  padding-right: 1%;
}

/* NAV1 #SOCIAL MEDIA */
#index-header-nav1-ul2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  border-left: solid white 1px;
  height: 100%;
  width: auto;
  padding-left: 0.5%;
  width: 25%;
  
}

.index-header-nav1-ul1-li2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
  width: 10%;

}
.index-header-nav1-ul1-li2:first-child {
  border-right: none;
  color: var(--secondary-color);
  width: 45%;
}

#index-header-nav1-ul1-li2-p1{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-header-nav1-ul1-li2:first-child:hover {
  border-right: none;
}
.index-header-nav1-ul1-li2:hover {
  border-right: solid white 0.5px;
}

.index-header-nav1-ul1-li2-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-header-nav1-ul1-li2-img {
  height: 17px;
  transition: 0.1s;
}
.index-header-nav1-ul1-li2-img:hover {
  height: 20px;
}

/* NAV2 #LOGO & LINKS */

#index-header-div1 {
  width: 100%;
  height: 80%;
  background: linear-gradient(to right, var(--main-color), var(--third-color));
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 5%;
  box-sizing: border-box;
  padding: 1px;
  margin: 0;
}

/* NAV2 #LOGO */

#index-header-div1-a1 {
  height: 99%;
  width: 20%;
}

#index-header-div1-a1-img {
  height: 98%;
  width: 98%;
  border: solid white 2px;

  transition: 0.1s;
}
#index-header-div1-a1-img:hover {
  border: solid var(--secondary-color) 2px;
  transform: scale(1.01);
}

/* NAV2 #LINKS */

#index-header-div1-nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  align-items: flex-end;
  height: 35%;
}

#index-header-div1-nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  margin-bottom: 0px;
  height: 100%;
  padding-left: 0px;
}

.index-header-div1-nav-ul-li {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-color);
  border: solid var(--main-color) 1px;
  color: var(--third-color);
  transition: 0.1s;
}


.index-header-div1-nav-ul-li:hover {
  border: solid var(--fourth-color) 1px;
  background-color: var(--third-color);
  color: var(--fourth-color);
  transform: scale(1.1);
}
#index-header-div1-nav-ul-li {
  border: solid var(--fourth-color) 1px;
  background-color: var(--third-color);
  color: var(--fourth-color);
  transform: scale(1.05);
}

#index-header-div1-nav-ul-li-resident{
  font-size: 90%;
}
.index-header-div1-nav-ul-li-resident{
  border: solid var(--fourth-color) 1px;
  background-color: var(--third-color);
  color: var(--fourth-color);
  transform: scale(1.05);
}

.index-header-div1-nav-ul-li-a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INDEX FOOTER */

#index-footer {
  background-color: black;
  height: 10vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.index-footer-div1-span{

  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#index-footer-div1-span1{
  width: 40%;
}

#index-footer-div1-span2{
  text-decoration: none;
}

#index-footer-div1-span1-a1{
  text-decoration: none;
  margin-left: 2%;
  background-color: white;
  color: white;
  width: auto;
  width: auto;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: white;
  position: relative;
}
#index-footer-div1-span1-a1::before{
  content: "click me";
  color: black;
  position: absolute;         
  top: 50%;              /* Position middle vertically */
  left: 50%;             /* Position middle horizontally */
  transform: translate(-50%, -50%);
}
#index-footer-div1-span1-a1:hover::before {
  content: ""; 
}
#index-footer-div1-span1-a1:hover{
  background-color: black;
}

#index-footer-div1-span3-a1{

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--fourth-color);
}
#index-footer-div1-span3-a1:hover{
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

#index-footer-div1-span3-a1-img1{

  height: 20px;
  width: 20px;
  margin-right: 2%;
}










